* {
    font-family: "Roboto", sans-serif;
}

.form-container {
    height: 21.25rem !important;
}

.v-text-field {
    width: 100%;
    font-size: 15px !important;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4px;
}
