@import "@/styles/variables";
@import '@/styles/mixins';

* {
  font-family: $font-family;
}

.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $primary-color;
  border-radius: 8px;
  padding: 16px;
  height: 36.625rem !important;
  width: 100%;
  color: $white-color;
}

.title {
  margin-bottom: 20px;
}

.offer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-image {
  margin-bottom: 20px;
}

.description {
  color: $white-color;
  margin-top: 5px;
}

.list, .price, .payment-form, .payment, .items {
  color: $white-color;
  list-style-type: none;
}
