@import "@/styles/variables";

* {
    font-family: $font-family;
}

.form-container {
    height: 340px;
}

.name-field, .email-field, .phone-field {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}


