@import "@/styles/variables";
@import '@/styles/mixins';

* {
  font-family: $font-family;
}

.container {
  margin-top: 10px;
}

.logo-image {
  width: 150px;
  height: 150px;
}

.app-title {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  color: $primary-color;
  margin-left: 10px; 
  @include align-center;
  height: 100%; 
}

.align-center {
  @include align-center;
}

.personal-data-title, 
.delivery-data-title, 
.payment-method-title {
  color: $primary-color; 
  font-weight: bold; 
  font-size: $font-size-medium;
  margin-top: 20px;
  margin-bottom: 20px;
}

.next-step-buttom {
  color: $primary-color;
}

.back-step-buttom {
  color: $red-color;
  margin-right: 20px;
}

.finish-checkout-buttom {
  color: $secondary-color;
}

.second-title {
  font-size: $font-size-small;
  color: $gray-color;
}

.percentage {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  @include transition(width, 0.5s);
  border: 5px solid $primary-color;
}

.percetage-value {
  color: $primary-color;
  margin-top: 10px;
  font-size: $font-size-medium;
}

.first-container {
  background-color: $primary-color;
  border-radius: 8px;
  padding: 16px;
  height: 700px;
  color: $white-color;
}

.second-container {
  background-color: $white-color;
  border-radius: 8px;
  padding: 16px;
  color: $black-color;
}
