@import "@/styles/variables";

.container {
  width: 700px;
}

.success-page {
  font-family: $font-family; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo-image {
  width: 150px;
  height: 150px;
}

.app-title {
  font-size: $font-size-large; 
  font-weight: $font-weight-bold; 
  color: $primary-color; 
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: $primary-color; 
}

.buttom {
  color: $primary-color; 
  bottom: 40px;
}

.boleto, .card, .pix {
  font-size: 18px;
  font-weight: $font-weight-bold; 
  color: $gray-color; 
}

.barcode-image {
  width: 100%;
  height: 350px;
}

.qrcode-image, .success-image {
  width: 100%;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 20px;
}
